* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.octocat  {
  float: left;
  margin: auto 8px;
}

.octocat > a > img {
  max-width: 325px;
  border: 2px solid lightgrey;
  border-radius: 3px;

}

.image-footer {
  border-bottom: 2px solid lightgrey;
  height: 30px;
  padding-top: 2px;
}

.image-number  {
  float: left;
  color: lightgrey;
  font-family: Verdana;
  font-size: 8pt;
  font-weight: bold;
}

.image-number::before{
  content: "#";
}

.image-caption {
  float: right;
  font-family: Verdana;
  font-size: 8pt;
  font-weight: bold;
}

.image-caption a {
  text-decoration: none;
  color: black;
  font-family: Verdana;
  font-size: 8pt;
  font-weight: bold;
}

.image-caption span{
  color: grey;
}


.authors  {
  float: right;
  padding-left: 5px;
}

.authors img {
  max-width: 20px;
  border-radius: 3px;
}

.authors::after {
  content: "";
  position: relative;
  top: -28px;
  right: 4px;
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #d3d3d3 transparent transparent transparent;
}
