* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.octocat  {
  float: left;
  margin: auto 5px;
}

.octocat > a > img {
  max-width: 325px;
  border: 2px solid lightgrey;
  border-radius: 3px;

}

.image-footer {
  border-bottom: 2px solid lightgrey;
  height: 30px;
}

.image-number  {
  float: left;
  color: grey;
  font-family: Verdana;
  font-size: 8pt;
}

.image-caption {
  float: right;
  font-family: Verdana;
  font-size: 8pt;
}

.image-caption a {
  text-decoration: none;
  color: black;
  font-family: Verdana;
  font-size: 8pt;
  font-weight: bold;
}

.image-caption span{
  color: grey;
}


.authors  {
  float: right;
  padding-left: 5px;
}

.authors img {
  max-width: 20px;
  border-radius: 3px;
}
